// school colors
$color-illini-orange: #FF552E;
$color-illini-orange-alt: #DD3403;

$color-illini-blue: #13294B;

$color-alma-mater: #1E3877;
$color-alma-mater-alt-1: #4D69A0;
$color-alma-mater-alt-2: #849BC1;
$color-alma-mater-alt-3: #AFC7DB;

$color-industrial-blue: #1D58A7;
$color-industrial-blue-alt-1: #5783BC;
$color-industrial-blue-alt-2: #90AED5;
$color-industrial-blue-alt-3: #CAD9EF;

$color-arches-blue: #009FD4;
$color-arches-blue-alt-1: #7FC3E1;
$color-arches-blue-alt-2: #A6D7EB;
$color-arches-blue-alt-3: #D2EBF5;

$color-cloud: #F8FAFC;
$color-cloud-alt-1: #E8E9EB;
$color-cloud-alt-2: #DDDEDE;
$color-cloud-alt-3: #D2D2D2;

$color-heritage-orange: #F5821E;
$color-heritage-orange-alt-1: #E56E15;
$color-heritage-orange-alt-2: #CE5E11;
$color-heritage-orange-alt-3: #B74D04;

// body styling colors
$color-primary: #111;
$color-secondary: #555565;
$color-label: #42424b;
$color-background-primary: $color-illini-blue;
$color-accent: $color-illini-orange;
$color-accent-alt: $color-illini-orange-alt;
$color-accent-rgb: rgb(245, 130, 30);
$color-pretty-grey: #555565;
$color-grey: #E8E9Eb;
$color-kinda-grey: #FAF8FC;


